html {
  background-color: lavender;
}

#footer {
  background-color: rebeccapurple;
  color: white;
}

#footer a {
  color: white;
}

#header {
  background-color: rebeccapurple;
  color: white;
}

.scheme1 {
  background-color: rebeccapurple;
  color: white;
}