html {
  background-color: lavenderblush;
  font: 112.5%/1.45em palatino, garamond, georgia, serif;
}

body {
  color: #231D24;
  font-family: palatino, garamond, georgia, serif;
  font-weight: normal;
}

a {
  color: rgb(206, 0, 206);
}
a:visited {
  color: rgb(90, 0, 105);
}
a:hover {
  color: rgb(255, 0, 255);
}

#header a {
  color: #D6AEDD;
  text-decoration: none;
}

.scheme1 {
  background-color: #D6AEDD;
  color: #231D24;
}

.sanserif {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bold {
  font-weight: bold;
}

.fs-smaller {
  font-size: smaller;
}

.fs-larger {
  font-size: larger;
}

.color-dark {
  color: #231D24;
}